
@media screen and (max-width :850px) {
    .links ul{
        flex-direction: column;
    }
   .nav{
       display: block;
   }
   .links{
       display: none;
   }
   .menu{display: inline-block;}
 }

@media screen and (max-width :990px) {
    .f-box{
        justify-content: space-between;
    }
     .f-box .cards{
        width: 47%;
        margin: 15px 0;
    }
   .box2{justify-content: center;}
    .box2 .left{
        width: 70%;
        height: 450px;
    }
    .box2 .right{width: 70%;
    height: 500px;
    }
    .box2 .right{margin: 20px 0px;}
    
    .boxx{ justify-content: space-around;}
    .box2 .card-box{
        width: 40%;
        margin: 20px;
    }
    
 }
 
@media screen and (max-width :770px) {
    .f-box .cards{ width: 75%;}
    .f-box {
        justify-content: center;
    }
    .box22{justify-content: center;
        width: 100%;}
        .box2 div{
            flex: 80%;
        }
        .grid{
            grid-template-columns: repeat(1,70%);
            grid-template-rows: repeat(4,200px);
            justify-content: center;
            height: 900px;
        }
    
        .gridCard{
            width: 100%;
        }
        .grid1{
            grid-row: 1/2;
        }
        .grid2{
            grid-row: 2/3;
        }
        .grid3{
            grid-row: 3/4;
        }
        .grid4{
            grid-row: 4/5;
            grid-column: 1/2;
        }
        .boxx{justify-content: center;}
        .box2 .card-box{
            width: 20%;
        }
        .card-flex{
            flex: 40%;
            margin: 10px;
        }
        .foot1{
            justify-content: space-between;

        }
         .foot1 .link{

              width: 48%;
          }

}
@media screen and (max-width :500px) {
    
    .box2{
        justify-content: center;
        
    }
    .card-box{
       width: 60%;
   }
   .flex-box{
       justify-content: center;
   }
   .card-flex{
        flex: 75%;
        margin-top: 10px; 
    }
    .card-flex .img-top{
        height: 230px;
    }
    .card-flex .img-top img{
        object-position: 40% 20%;

    }
  .foot1{
      justify-content: center;
      text-align: center;
  }
   .foot1 .link{
        width: 100%;
    }

}